VITE_FIREBASE_API_KEY=AIzaSyDYp43szsOjdNqTNQqMQYiryd2Clukvuzw
VITE_FIREBASE_AUTH_DOMAIN=shootergame-54991.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=shootergame-54991
VITE_FIREBASE_STORAGE_BUCKET=shootergame-54991.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=444436595343
VITE_FIREBASE_APP_ID=1:444436595343:web:31641b7fc3eddd588da6fa
